Install necessary packages:

```
pip install sqlalchemy 
pip install git+https://github.com/OpenLinkSoftware/Virtuoso-SQLAlchemy.git
```

 VOS DSN was configured for use Virtuoso Demo database
```ini
[VOS]
Driver      = /home/user/odbc/virtodbcu_r.so
Description = Virtuoso OpenSource Edition
Address     = localhost:1111
Database    = Demo
WideAsUTF16 = Yes
```

In [1]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine('virtuoso+pyodbc://demo:demo@VOS')

connection = engine.connect()
connection.autocommit = True

metadata = db.MetaData()
print(metadata)
customers = db.Table('Customers', metadata, autoload_with=engine)

# Print the column names
print(customers.columns.keys())

MetaData()
['CustomerID', 'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'CountryCode', 'Phone', 'Fax']

In [2]:
# Print full table metadata
print(repr(metadata.tables['Customers']))

Table('Customers', MetaData(), Column('CustomerID', VARCHAR(), table=<Customers>, primary_key=True, nullable=False), Column('CompanyName', VARCHAR(), table=<Customers>), Column('ContactName', VARCHAR(), table=<Customers>), Column('ContactTitle', VARCHAR(), table=<Customers>), Column('Address', VARCHAR(), table=<Customers>), Column('City', VARCHAR(), table=<Customers>), Column('Region', VARCHAR(), table=<Customers>), Column('PostalCode', VARCHAR(), table=<Customers>), Column('Country', VARCHAR(), table=<Customers>), Column('CountryCode', VARCHAR(), table=<Customers>), Column('Phone', VARCHAR(), table=<Customers>), Column('Fax', VARCHAR(), table=<Customers>), schema=None)

In [3]:
#Equivalent to 'SELECT * FROM Customers'
query = db.select(customers)
print(query)

SELECT "Customers"."CustomerID", "Customers"."CompanyName", "Customers"."ContactName", "Customers"."ContactTitle", "Customers"."Address", "Customers"."City", "Customers"."Region", "Customers"."PostalCode", "Customers"."Country", "Customers"."CountryCode", "Customers"."Phone", "Customers"."Fax"
FROM "Customers"

In [4]:
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
print(ResultSet[:3])

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', 'gm', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', 'mx', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', 'mx', '(5) 555-3932', None)]

In [5]:
query1 = db.select(customers.columns.CompanyName, customers.columns.Country).where(customers.columns.Country.in_(['Germany', 'France']))
print(query1)
res = connection.execute(query1).fetchall()
print(res)

SELECT "Customers"."CompanyName", "Customers"."Country"
FROM "Customers"
WHERE "Customers"."Country" IN (__[POSTCOMPILE_Country_1])
[('Alfreds Futterkiste', 'Germany'), ('Blauer See Delikatessen', 'Germany'), ('Blondel père et fils', 'France'), ("Bon app'", 'France'), ('Drachenblut Delikatessen', 'Germany'), ('Du monde entier', 'France'), ('Folies gourmandes', 'France'), ('Frankenversand', 'Germany'), ('France restauration', 'France'), ('Königlich Essen', 'Germany'), ("La corne d'abondance", 'France'), ("La maison d'Asie", 'France'), ('Lehmanns Marktstand', 'Germany'), ('Morgenstern Gesundkost', 'Germany'), ('Ottilies Käseladen', 'Germany'), ('Paris spécialités', 'France'), ('QUICK-Stop', 'Germany'), ('Spécialités du monde', 'France'), ('Toms Spezialitäten', 'Germany'), ('Victuailles en stock', 'France'), ('Vins et alcools Chevalier', 'France'), ('Die Wandernde Kuh', 'Germany')]

In [6]:
# define table
metadata.clear()
emp = db.Table('emp', metadata,
              db.Column('Id', db.Integer()),
              db.Column('name', db.String(255), nullable=False),
              db.Column('salary', db.Float(), default=100.0),
              db.Column('active', db.Boolean(), default=True)
              )
emp.drop(engine, checkfirst=True) #drops a single table

emp.create(engine, checkfirst=True) #Creates the table

In [7]:
#Inserting record one by one
query = db.insert(emp).values(Id=1, name='Jon', salary=60000.00, active=True) 
ResultProxy = connection.execute(query)

In [8]:
#Inserting many records at ones
query = db.insert(emp) 
values_list = [{'Id':'2', 'name':'Bob', 'salary':80000, 'active':False},
               {'Id':'3', 'name':'Alice', 'salary':70000, 'active':True}]
ResultProxy = connection.execute(query,values_list)
ResultProxy.close()

In [9]:

results = connection.execute(db.select(emp)).fetchall()
print(results)

df = pd.DataFrame(results)
df.head(4)

[(1, 'Jon', 60000.0, True), (0, 'Bob', 80000.0, False), (0, 'Alice', 70000.0, True)]

   Id   name   salary  active
0   1    Jon  60000.0    True
1   0    Bob  80000.0   False
2   0  Alice  70000.0    True