Install necessary packages:
```
pip install pandas 
pip install sqlalchemy 
pip install git+https://github.com/OpenLinkSoftware/Virtuoso-SQLAlchemy.git
```

VOS DSN was configured for use Virtuoso Demo database

```ini
[VOS]
Driver      = /home/user/odbc/virtodbcu_r.so
Description = Virtuoso OpenSource Edition
Address     = localhost:1111
Database    = Demo
WideAsUTF16 = Yes
```

In [4]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine('virtuoso+pyodbc://demo:demo@VOS')

connection = engine.connect()
df = pd.read_sql_query("select * from Customers", connection)
print(df)

   CustomerID                         CompanyName              ContactName  \
0       ALFKI                 Alfreds Futterkiste             Maria Anders
1       ANATR  Ana Trujillo Emparedados y helados             Ana Trujillo
2       ANTON             Antonio Moreno Taquería           Antonio Moreno
3       AROUT                     Around the Horn             Thomas Hardy
4       BERGS                  Berglunds snabbköp       Christina Berglund
..        ...                                 ...                      ...
86      WARTH                      Wartian Herkku         Pirkko Koskitalo
87      WELLI              Wellington Importadora            Paula Parente
88      WHITC                White Clover Markets           Karl Jablonski
89      WILMK                         Wilman Kala          Matti Karttunen
90      WOLZA                      Wolski  Zajazd  Zbyszek Piestrzeniewicz

                 ContactTitle                         Address         City  \
0        Sales Representative                   Obere Str. 57       Berlin
1                       Owner   Avda. de la Constitución 2222  México D.F.
2                       Owner                 Mataderos  2312  México D.F.
3        Sales Representative                 120 Hanover Sq.       London
4         Order Administrator                 Berguvsvägen  8        Luleå
..                        ...                             ...          ...
86         Accounting Manager                     Torikatu 38         Oulu
87              Sales Manager              Rua do Mercado, 12      Resende
88                      Owner  305 - 14th Ave. S.\r\nSuite 3B      Seattle
89  Owner/Marketing Assistant                   Keskuskatu 45     Helsinki
90                      Owner                 ul. Filtrowa 68     Warszawa

   Region PostalCode         Country CountryCode           Phone  \
0    None      12209         Germany          gm     030-0074321
1    None      05021          Mexico          mx    (5) 555-4729
2    None      05023          Mexico          mx    (5) 555-3932
3    None    WA1 1DP  United Kingdom          uk  (171) 555-7788
4    None   S-958 22          Sweden          sw   0921-12 34 65
..    ...        ...             ...         ...             ...
86   None      90110         Finland          fi      981-443655
87     SP  08737-363          Brazil          br   (14) 555-8122
88     WA      98128   United States          us  (206) 555-4112
89   None      21240         Finland          fi     90-224 8858
90   None     01-012          Poland          pl   (26) 642-7012

               Fax
0      030-0076545
1     (5) 555-3745
2             None
3   (171) 555-6750
4    0921-12 34 67
..             ...
86      981-443655
87            None
88  (206) 555-4115
89     90-224 8858
90   (26) 642-7012

[91 rows x 12 columns]